/* Общие стили */
body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo', sans-serif;
    background-color: #f4f4f4;
}

* {
    box-sizing: border-box;
}

/* Контейнер страницы */
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/background.jpg"); /* Фоновое изображение */
    background-size: cover;
    background-position: center;
}

/* Контейнер формы */
.form-container {
    background: rgba(255, 255, 255); /* Белый фон с прозрачностью */
    border-radius: 30px;
    padding: 40px; /* Увеличенные отступы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    min-height: 650px;
    width: 100%;
    text-align: center;
}

/* Стили заголовков */
.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    margin-top: 30px;
}

/* Поля ввода */
form input, form select {
    width: 80%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 30px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #EBEADE;
    box-sizing: border-box; /* Учитывает padding и border */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Убираем стрелочки в Webkit-браузерах (Chrome, Safari) */
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none; /* Webkit-браузеры */
    appearance: none; /* Универсальное решение */
}

form select {
    width: 80%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 30px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #EBEADE;
    box-sizing: border-box;
    -webkit-appearance: none; /* Для Chrome/Safari */
    -moz-appearance: none;    /* Для Firefox */
    appearance: none;         /* Универсальный стиль */
    text-align: center;       /* Выравнивание текста по центру */
}

/* Кнопки */
button {
    width: 80%;
    padding: 25px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    background-color: #A19C84;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Анимация на hover */
}

button:hover {
    background-color: #bebbae;
}

/* Ссылки */
p a {
    color: #4CAF50;
    text-decoration: none;
}