<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibeFit</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <h1>VibeFit</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#">
                            <h2>Home</h2>
                        </a></li>
                    <li><a href="#">
                            <h2>About</h2>
                        </a></li>
                    <li><a href="#">
                            <h2>Contact Us</h2>
                        </a></li>
                </ul>
            </nav>
            <div class="user-icon">
                <img src="../static/img/log_in.webp" alt="User">
            </div>
        </div>
    </header>
    <main>
        <div class="hero">
            <div class="hero-left">
                <h1 class="slogan">Achieve the Best, <br> Forget the Rest</h1>
                <p>VibeFit helps you achieve your fitness goals with personalized workout and nutrition plans.
                    Everything you need—all in one place!</p>
                <button class="cta-button">Start Now</button>
            </div>
            <div class="hero-right">
                <img src="../static/img/main_page.jpg" alt="Fitness">
            </div>
        </div>
    </main>
</body>

</html>