<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>VibeFit - Nutrition</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">VibeFit</div>
            <nav>
                <a href="index.html">Home</a>
                <a href="#">About</a>
                <a href="#">Contact Us</a>
            </nav>
        </div>
    </header>
    <main class="nutrition-page">
        <section class="nutrition-tracker">
            <h2>Today: 1129 kcal</h2>
            <h3>Left: 381 kcal</h3>
            <table>
                <tr>
                    <th>Meal</th>
                    <th>Calories</th>
                    <th>Protein</th>
                    <th>Fat</th>
                    <th>Carbohydrates</th>
                </tr>
                <tr>
                    <td>Breakfast</td>
                    <td>400 kcal</td>
                    <td>20g</td>
                    <td>15g</td>
                    <td>50g</td>
                </tr>
                <tr>
                    <td>Lunch</td>
                    <td>500 kcal</td>
                    <td>30g</td>
                    <td>20g</td>
                    <td>55g</td>
                </tr>
                <tr>
                    <td>Dinner</td>
                    <td>229 kcal</td>
                    <td>10g</td>
                    <td>10g</td>
                    <td>30g</td>
                </tr>
            </table>
        </section>
    </main>
</body>

</html>