<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>VibeFit - Personal Office</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">VibeFit</div>
            <nav>
                <a href="index.html">Home</a>
                <a href="#">About</a>
                <a href="#">Contact Us</a>
            </nav>
        </div>
    </header>
    <main class="personal-office-page">
        <section class="profile">
            <img src="img/user-avatar.jpg" alt="User Avatar">
            <h2>User Name: Aikylbek Kyzy Zhibek</h2>
            <p>Starting Weight: 60kg</p>
            <p>Goal: Lose Weight</p>
            <p>Start Date: 01.12.2024</p>
            <button class="btn">Edit</button>
        </section>
    </main>
</body>

</html>