<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details Page</title>
    <link rel="stylesheet" href="../static/css/user_details.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo&display=swap" rel="stylesheet">
</head>

<body>
    <div class="page-container">
        <div class="form-container">
            <h1>Fill out your details to get your personalized plan</h1>
            <form>
                <input type="number" placeholder="Height" required>
                <input type="number" placeholder="Weight" required>
                <select required>
                    <option value="" disabled selected>Goal</option>
                    <option value="lose-weight">Lose Weight</option>
                    <option value="gain-muscle">Gain Muscle</option>
                    <option value="maintain">Maintain Fitness</option>
                </select>
                <select required>
                    <option value="" disabled selected>Level of Training</option>
                    <option value="beginner">Beginner</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="advanced">Advanced</option>
                </select>
                <button type="submit" class="save-button">Save</button>
            </form>
        </div>
    </div>
</body>

</html>