<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>VibeFit - Workout</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">VibeFit</div>
            <nav>
                <a href="index.html">Home</a>
                <a href="#">About</a>
                <a href="#">Contact Us</a>
            </nav>
        </div>
    </header>
    <main class="workout-page">
        <section class="workout-details">
            <h2>Tuesday</h2>
            <h3>Warm Up</h3>
            <p>Start with a 5-minute light cardio session.</p>
            <h3>Cardio</h3>
            <p>Do 3 sets of 15-minute high-intensity cardio exercises.</p>
        </section>
    </main>
</body>

</html>